### Importación de datos

In [ ]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

Calcular el ingreso total de cada tienda, sumando los valores de la columna precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [ ]:
ingreso_tienda1 = tienda1["Precio"].sum()
ingreso_tienda2 = tienda2["Precio"].sum()
ingreso_tienda3 = tienda3["Precio"].sum()
ingreso_tienda4 = tienda4["Precio"].sum()

print(f"Ingreso total tienda 1: {ingreso_tienda1:,.2f}")
print(f"Ingreso total tienda 2: {ingreso_tienda2:,.2f}")
print(f"Ingreso total tienda 3: {ingreso_tienda3:,.2f}")
print(f"Ingreso total tienda 4: {ingreso_tienda4:,.2f}")

Ingreso total tienda 1: 1,150,880,400.00
Ingreso total tienda 2: 1,116,343,500.00
Ingreso total tienda 3: 1,098,019,600.00
Ingreso total tienda 4: 1,038,375,700.00

# 2. Ventas por categoría

calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [ ]:
ventas_categoría_tienda1 = tienda1.groupby("Categoría del Producto").size()
ventas_categoría_tienda2 = tienda2.groupby("Categoría del Producto").size()
ventas_categoría_tienda3 = tienda3.groupby("Categoría del Producto").size()
ventas_categoría_tienda4 = tienda4.groupby("Categoría del Producto").size()

print("Tienda 1\n", ventas_categoría_tienda1)
print("\nTienda 2\n", ventas_categoría_tienda2)
print("\nTienda 3\n", ventas_categoría_tienda3)
print("\nTienda 4\n", ventas_categoría_tienda4)

Tienda 1
 Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64

Tienda 2
 Categoría del Producto
Artículos para el hogar    181
Deportes y diversión       275
Electrodomésticos          305
Electrónicos               422
Instrumentos musicales     224
Juguetes                   313
Libros                     197
Muebles                    442
dtype: int64

Tienda 3
 Categoría del Producto
Artículos para el hogar    177
Deportes y diversión       277
Electrodomésticos          278
Electrónicos               451
Instrumentos musicales     177
Juguetes                   315
Libros                     185
Muebles                    499
dtype: int64

Tienda 4
 Categoría del Producto
Artículos para el hogar    201
Deportes y diversión       277
Electrodomésticos          254
Electrónicos               451
Instrumentos musicales     170
Juguetes                   338
Libros                     187
Muebles                    480
dtype: int64

# 3. Calificación promedio de la tienda

calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [ ]:
promedio_tienda1 = tienda1["Calificación"].mean()
promedio_tienda2 = tienda2["Calificación"].mean()
promedio_tienda3 = tienda3["Calificación"].mean()
promedio_tienda4 = tienda4["Calificación"].mean()

print("Promedio Tienda 1:", round(promedio_tienda1, 2))
print("Promedio Tienda 2:", round(promedio_tienda2, 2))
print("Promedio Tienda 3:", round(promedio_tienda3, 2))
print("Promedio Tienda 4:", round(promedio_tienda4, 2))

Promedio Tienda 1: 3.98
Promedio Tienda 2: 4.04
Promedio Tienda 3: 4.05
Promedio Tienda 4: 4.0

# 4. Productos más y menos vendidos

identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [ ]:
# Productos más y menos vendidos por tienda

# Tienda 1
mas_vendidos_tienda1 = tienda1["Producto"].value_counts().head(5).reset_index()
mas_vendidos_tienda1.columns = ["Producto", "Cantidad"]

menos_vendidos_tienda1 = tienda1["Producto"].value_counts().tail(5).reset_index()
menos_vendidos_tienda1.columns = ["Producto", "Cantidad"]

# Tienda 2
mas_vendidos_tienda2 = tienda2["Producto"].value_counts().head(5).reset_index()
mas_vendidos_tienda2.columns = ["Producto", "Cantidad"]

menos_vendidos_tienda2 = tienda2["Producto"].value_counts().tail(5).reset_index()
menos_vendidos_tienda2.columns = ["Producto", "Cantidad"]

# Tienda 3
mas_vendidos_tienda3 = tienda3["Producto"].value_counts().head(5).reset_index()
mas_vendidos_tienda3.columns = ["Producto", "Cantidad"]

menos_vendidos_tienda3 = tienda3["Producto"].value_counts().tail(5).reset_index()
menos_vendidos_tienda3.columns = ["Producto", "Cantidad"]

# Tienda 4
mas_vendidos_tienda4 = tienda4["Producto"].value_counts().head(5).reset_index()
mas_vendidos_tienda4.columns = ["Producto", "Cantidad"]

menos_vendidos_tienda4 = tienda4["Producto"].value_counts().tail(5).reset_index()
menos_vendidos_tienda4.columns = ["Producto", "Cantidad"]

# ==============================
# Mostrar productos más vendidos
# ==============================

print("=== PRODUCTOS MÁS VENDIDOS ===\n")

print("Tienda 1:\n", mas_vendidos_tienda1.to_string(index=False), "\n")
print("Tienda 2:\n", mas_vendidos_tienda2.to_string(index=False), "\n")
print("Tienda 3:\n", mas_vendidos_tienda3.to_string(index=False), "\n")
print("Tienda 4:\n", mas_vendidos_tienda4.to_string(index=False), "\n")

# ==============================
# Mostrar productos menos vendidos
# ==============================

print("=== PRODUCTOS MENOS VENDIDOS ===\n")

print("Tienda 1:\n", menos_vendidos_tienda1.to_string(index=False), "\n")
print("Tienda 2:\n", menos_vendidos_tienda2.to_string(index=False), "\n")
print("Tienda 3:\n", menos_vendidos_tienda3.to_string(index=False), "\n")
print("Tienda 4:\n", menos_vendidos_tienda4.to_string(index=False), "\n")

=== PRODUCTOS MÁS VENDIDOS ===

Tienda 1:
         Producto  Cantidad
      Microondas        60
   TV LED UHD 4K        60
         Armario        60
Secadora de ropa        58
   Mesa de noche        56

Tienda 2:
                  Producto  Cantidad
Iniciando en programación        65
               Microondas        62
                  Batería        61
        Guitarra acústica        58
                Pandereta        58

Tienda 3:
        Producto  Cantidad
  Kit de bancas        57
Mesa de comedor        56
      Cama king        56
   Set de ollas        55
  Mesa de noche        55

Tienda 4:
                  Producto  Cantidad
                 Cama box        62
               Cubertería        59
  Dashboards con Power BI        56
                Cama king        56
Carrito de control remoto        55

=== PRODUCTOS MENOS VENDIDOS ===

Tienda 1:
                    Producto  Cantidad
Ciencia de datos con Python        39
                  Pandereta        36
            Olla de presión        35
  Auriculares con micrófono        33
               Celular ABXY        33

Tienda 2:
        Producto  Cantidad
    Auriculares        37
         Sillón        35
Mesa de comedor        34
      Impresora        34
  Juego de mesa        32

Tienda 3:
                Producto  Cantidad
     Guitarra eléctrica        38
           Set de vasos        36
                Mochila        36
             Microondas        36
Bloques de construcción        35

Tienda 4:
                    Producto  Cantidad
               Refrigerador        38
Ciencia de datos con Python        38
          Guitarra acústica        37
                    Armario        34
         Guitarra eléctrica        33

# 5. Envío promedio por tienda

calcular el costo de envío promedio para cada tienda. El objetivo es comprender cuánto se gasta, en promedio, en el envío de cada tienda.  Sabiendo que el cliente paga el envío.

In [ ]:
promedio_envio_tienda1 = tienda1["Costo de envío"].mean()
promedio_envio_tienda2 = tienda2["Costo de envío"].mean()
promedio_envio_tienda3 = tienda3["Costo de envío"].mean()
promedio_envio_tienda4 = tienda4["Costo de envío"].mean()

print(f"Costo de envío promedio tienda 1: {promedio_envio_tienda1:.2f}")
print(f"Costo de envío promedio tienda 2: {promedio_envio_tienda2:.2f}")
print(f"Costo de envío promedio tienda 3: {promedio_envio_tienda3:.2f}")
print(f"Costo de envío promedio tienda 4: {promedio_envio_tienda4:.2f}")

Costo de envío promedio tienda 1: 26018.61
Costo de envío promedio tienda 2: 25216.24
Costo de envío promedio tienda 3: 24805.68
Costo de envío promedio tienda 4: 23459.46